.jumbotron{

  margin-top: 50px;

}

.btn, a.btn-primary, .btn-large{

  background: #0b5faa;

}

.btn-primary:hover{

  background: rgba(11,95,170,0.8);

}

h1, h2{

  font-family: 'Righteous', sans-serif;

}

h3, h4, h5{

  font-family: 'Pontano Sans', sans-serif;

}

p, label, a{

  font-family: 'Pontano Sans', sans-serif;

}
