.jumbotron{

  margin-top: 50px;
  background: rgba(255,255,255,0.9);

}

.btn, a.btn-primary, .btn-large{

  background: #0b5faa;

}

.btn-primary:hover{

  background: rgba(11,95,170,0.8);

}

h1, h2{

  font-family: 'Righteous', sans-serif;

}

h3, h4, h5{

  font-family: 'Pontano Sans', sans-serif;

}

p, label, a{

  font-family: 'Pontano Sans', sans-serif;

}

.session-index{

  padding-top: 50px;

}

.form-group{

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;

}

.signup{

  text-align: center;

}

.login-image h1{

  text-align: center;

}

.login-image img{

  display: block;
  margin: auto;

}

/* register */

.register h1{

text-align: center;

}

/* create.volt */

.create-profile h1{

text-align: center;

}

/* edit.volt */

.edit-profile h1{

text-align: center;

}
